body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.head{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right,red,green,yellow);
    text-align: center;
    font-size: large;
    text-decoration: underline;
    margin-bottom: 20px;
}
.list{
    background-color: rgb(85, 192, 192);
    border: 4px solid rgb(230, 49, 79);
    border-radius: 25px;
    text-align: center;
    width: 700px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.flex_container{

    height: 300px;
    background-color: rgb(9, 59, 112);
    border: 5px solid rgb(79, 25, 6);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}
.flex_item{
    height: 100px;
    width: 400px;
    background-color: palevioletred;
    border: 5px solid blue;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    gap: 20px;
    
}
.head_2{
    background-image: radial-gradient(yellow 40%, red);
    height: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;

}
.flex_container_1{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: radial-gradient(blue,green);
    border: 4px solid green;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    width: 200px;
    height: 150px;
    background-color: rgb(70, 96, 119);
    border: 4px solid rgb(229, 12, 12);
    text-align: center;
    border-radius: 25px;
    color: rgb(38, 3, 3);
    text-decoration: underline;
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto 150px;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
    color: white;
}
.grid_item{
    border: 2px solid black;
   
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: red;
    text-align: center;
    padding: 10px;
}
.item2{
    background-color: green;
    padding: 10px;
    text-align: center;
}
.item3{
    background-color: rgb(6, 35, 123);
    padding: 10px;
    text-align: center;
}
.item4{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}
.item5{
    background-color: black;
    text-decoration: underline;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4 ;
    padding: 10px;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: orange;
    padding: 10px;
}
.item7{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(132, 14, 164);
    text-align: center;
    padding: 10px;
    color: black;
}